.add-post-dialog {
    width: 550px;
}

.add-post-footer {
    display: flex;
    justify-content: space-around;
}

.content-area {
    width: 100%;
    border-radius: 10px;
    resize: none;
    max-height: 90px;
}

.content-area-label {
    font-size: 18px;
    color: #2a2a2a;
}

.marginTop {
    margin-top: 1rem;
}