.post-scroller-main-div {
    max-height: calc(100svh - 240px);
    overflow-y: auto;
    width: 100%;
    padding: 0;

    &::-webkit-scrollbar {
        width: 0.5em;
        height: 0.5em;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #ffffff;
        border-radius: 10px;

        &:hover {
            background: rgba(255, 255, 255, .2);
        }
    }
}

.post-view-main-div {
    background: #ffffff;
    width: 99%;
    border-radius: 10px;
    min-height: 300px;
    padding: 10px;
    margin-bottom: 15px;
}

.margin-5 {
    margin: 5px;
}

.margin-top-10 {
    margin-top: 10px;
}

.post-content-span {
    text-align: justify;
    display: block;
}

.galleria-post-view-div {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.p-galleria-thumbnail-wrapper {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #ffffff;
}

.p-galleria .p-galleria-thumbnail-container {
    background: #bbbbbb;
    padding: 10px;
}

.p-galleria .p-galleria-thumbnail-container .p-galleria-thumbnail-prev, .p-galleria .p-galleria-thumbnail-container .p-galleria-thumbnail-next {
    color: black;
}

.p-galleria-content {
    border: 1px solid #bbbbbb;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.post-view-header-div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
}

.post-type-p {
    font-size: 13px;
    font-style: italic;
    height: 15px;
    margin: 0;
}

.post-view-header-div-content {
    display: flex;
    align-items: center;
    max-height: 40px;
}

.post-view-vehicle-div {
    border-radius: 10px;
    background: #c5c5c5;
    font-size: 14px;
    font-weight: 600;
    height: 25px;
    min-width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 3px;
    padding-right: 3px;
}

.arrow-button {
    background: none;
    padding: 0;
    border: none;
    max-height: 15px;
    margin-right: 10px;
    margin-top: 5px;
}

.type-arrow-div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.arrow-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.arrow-button:focus {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.appearance-number-p {
    padding: 0;
    margin: 0 15px 0 0;
}