.main-menu {
    border: none;
    border-radius: 0;
    height: 60px;
    padding: 0 30px 0 30px;
    background: var(--background);
    color: var(--color);
    box-shadow: 0 4px 8px -2px black;
    justify-content: space-between;
}

.main-menu-start {
    display: flex;
    align-items: center;
    width: 258px;
}

.main-menu > .p-menubar-end {
    margin-left: 0;
    align-items: center;
    display: flex;
}

.main-menu > .p-menubar-root-list {
    width: 258px;
    display: flex;
    justify-content: center;
}

.main-menu > .p-menubar-root-list > li > .p-menuitem-content {
    border-radius: 15px;
}

.main-menu > .p-menubar-root-list > li > div > a > span {
    color: var(--color);
    border-radius: 10px;
    font-size: 20px;
}

.main-menu > .p-menubar-root-list > li > .p-menuitem-content:hover,
.main-menu > .p-menubar-root-list > li > .p-menuitem-content.p-focus {
    background: var(--background-hover);
}

.main-menu.p-menubar .p-menuitem:not(.p-highlight):not(.p-disabled).p-focus > .p-menuitem-content {
    background: var(--background);
}

.p-menubar-button {
    display: none;
}

.menu-start-p {
    font-weight: 600;
    margin-left: 10px;
    font-size: 21px;
}

.menuitem-mobile {
    width: calc(100% - 258px);
    display: flex;
    justify-content: center;
}

.menu-bar-end-div {
    display: flex;
}

.email-template-div {
    display: flex;
    align-items: center;
    background: var(--background);
    color: var(--color);
}

.p-menubar-end {
    height: 90%;
}

.user-menu-bar {
    background: var(--background);
    border: none;
    max-height: 100%;
}

.menu-bar-end-button.p-button.p-component.p-button-icon-only {
    background: var(--background);
    border: none;
}

.menu-bar-end-button.p-button.p-component.p-button-icon-only:hover,
.menu-bar-end-button.p-button.p-component.p-button-icon-only:focus {
    background: none;
    border: 1px solid #ffffff;
}

.user-menu.p-menuitem > .p-menuitem-content {
    background: var(--background);
    color: var(--color);
}

.login-button {
    min-width: 142px;
}

.header-title {
    display: flex;
    align-items: center;
}

.p-submenu-list {
    left: 113px;
    top: 56px;
    border-radius: 5px;
    width: 130px;
}

.p-submenu-list > .p-menuitem > .p-menuitem-content > a {
    display: flex;
    justify-content: center;
}
.main-menu > .p-menubar-root-list > li > div > a > span {

}


.user-menu.p-menuitem.p-menuitem-active.p-highlight > .p-submenu-list > .p-menuitem.p-focus > .p-menuitem-content > .p-menuitem-link > span,
.user-menu.p-menuitem.p-menuitem-active.p-highlight > .p-submenu-list > .p-menuitem > .p-menuitem-content:hover > .p-menuitem-link > span {
    color: var(--color);
    background: var(--background);
}

.user-menu.p-menuitem.p-menuitem-active.p-highlight > .p-submenu-list > .p-menuitem > .p-menuitem-content:hover {
    background: var(--background);
}

@media screen and (max-width: 960px) {
    .main-menu-start {
        width: 100%;
        justify-content: space-between;
    }

    .main-menu.p-menubar.p-component > .p-menubar-root-list {
        display: none;
    }

    .user-menu-bar.p-menubar.p-component > .p-menubar-root-list {
        display: flex;
        position: relative;
        background: var(--background);
        box-shadow: none;
    }

    .main-menu.p-menubar.p-component > .p-menubar-start > .main-menu-start,
    .main-menu.p-menubar.p-component > .p-menubar-start {
        width: 100%;
    }

    .p-menubar .p-menubar-root-list .p-submenu-list {
        position: absolute;
        top: 60px;
    }
}

@media screen and (max-width: 675px) {
    .main-menu {
        display: block;
    }

    .main-menu > .p-menubar-start > .main-menu-start {
        display: block;
        width: calc(100svw - 58px);
    }

    .p-menubar-end {
        height: fit-content;
    }

    .header-title, .main-menu > .p-menubar-end {
        width: 100%;
        justify-content: center;
    }

    .menuitem-mobile {
        width: 100%;
    }

    .main-menu {
        height: 160px;
    }

    .menu-start-p {
        font-size: 16px;
    }

    .menuitem-mobile {
        width: 100%;
    }

    .main-menu {
        padding: 0 10px 0 10px;
    }

    .p-menubar .p-menubar-root-list .p-submenu-list {
        top: 67px;
    }

    .login-button {
        margin-top: 15px;
    }
}
