.main-menu {
    border: none;
    border-radius: 0;
    height: 60px;
    padding: 0 30px 0 30px;
    background: var(--background);
    color: var(--color);
    box-shadow: 0 4px 8px -2px black;
    justify-content: space-between;
}

.main-menu-start {
    display: flex;
    align-items: center;
    width: 258px;
}

.main-menu > .p-menubar-end {
    margin-left: 0;
    align-items: center;
    display: flex;
}

.main-menu > .p-menubar-root-list {
    width: 258px;
}

.main-menu > .p-menubar-root-list > li > .p-menuitem-content {
    border-radius: 15px;
}

.main-menu > .p-menubar-root-list > li > div > a > span {
    color: var(--color);
    border-radius: 10px;
    font-size: 20px;
}

.main-menu > .p-menubar-root-list > li > .p-menuitem-content:hover,
.p-menubar .p-menuitem:not(.p-highlight):not(.p-disabled).p-focus > .p-menuitem-content,
.main-menu > .p-menubar-root-list > li > .p-menuitem-content.p-focus {
    background: var(--background-hover);
}

.p-menubar-button {
    display: none;
}

.menu-start-p {
    font-weight: 600;
    margin-left: 10px;
    font-size: 21px;
}

.menuitem-mobile {
    width: calc(100% - 258px);
    display: flex;
    justify-content: center;
}

.menu-bar-end-div {
    display: flex;
}

.email-template-div {
    display: flex;
    align-items: center;
    background: var(--background);
    color: var(--color);
}

.p-menubar-end {
    height: 90%;
}

.user-menu-bar {
    background: var(--background);
    border: none;
    max-height: 100%;
}

.menu-bar-end-button.p-button.p-component.p-button-icon-only {
    background: none;
    border: none;
}

.menu-bar-end-button.p-button.p-component.p-button-icon-only:hover,
.menu-bar-end-button.p-button.p-component.p-button-icon-only:focus {
    background: none;
    border: 1px solid #ffffff;
}

/*.p-menubar .p-menuitem.p-highlight.p-focus > .p-menuitem-content {*/
/*    background: var(--background);*/
/*}*/

/*.menu-bar-end .p-menubar .p-menubar-root-list > .p-menuitem:not(.p-highlight):not(.p-disabled) > .p-menuitem-content:hover,*/
/*.menu-bar-end .p-menubar .p-menuitem.p-highlight > .p-menuitem-content {*/
/*    background: var(--background);*/
/*    color: var(--color);*/
/*}*/

@media screen and (max-width: 960px) {
    .main-menu-start {
        width: calc(100svw - 202px);
        justify-content: space-between;
    }
}

@media screen and (max-width: 585px) {
    .main-menu {
        padding: 0 10px 0 10px;
    }

    .main-menu-start {
        width: calc(100svw - 58px);
    }
}

@media screen and (max-width: 500px) {
    .menu-start-p {
        font-size: 16px;
    }

    .menuitem-mobile {
        width: 100%;
    }
}